{
    "openapi": "3.2.0",
    "info": {
        "title": "HEROSMS ile çalışmak için API protokolü",
        "description": "Kayıt için programlar mı kullanıyorsunuz? HeroSMS, eski SMS-Activate ortaklarıyla uyumludur.\r\n\r\n1. SMS-Activate’i SMS alma hizmetleri arasında içeren herhangi bir programı seçin. \r\n2. SMS almak için hizmet olarak SMS-Activate’i seçin.\r\n3. Programınızın ayarlarında, ana bilgisayarı https://api.sms-activate.ae yerine https://hero-sms.com olarak değiştirin.\r\n4. HeroSMS hesabınızdan API anahtarını girin (bunu web sitemizden talep edin).\r\n\r\nHerhangi bir sorunla karşılaşırsanız, lütfen teknik destek ekibimizle iletişime geçmekten çekinmeyin. Tüm sorunları çözeceğiz.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://hero-sms.com/api/v1",
            "description": "HeroSMS API sunucusu"
        },
        {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API uyumlu sunucu"
        }
    ],
    "paths": {
        "/activations/history": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Aktivasyon geçmişi",
                "operationId": "82eacb597b010298c78dacd1f0bdd3ff",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/fromRequired"
                    },
                    {
                        "$ref": "#/components/parameters/toRequired"
                    },
                    {
                        "$ref": "#/components/parameters/servicesQuery"
                    },
                    {
                        "$ref": "#/components/parameters/countriesQuery"
                    },
                    {
                        "$ref": "#/components/parameters/activationStatusesQuery"
                    },
                    {
                        "$ref": "#/components/parameters/size"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "createDate": {
                                                        "description": "Oluşturulma tarihi",
                                                        "type": "string",
                                                        "example": "2025-03-18 10:40:37"
                                                    },
                                                    "service": {
                                                        "$ref": "#/components/schemas/ServiceId"
                                                    },
                                                    "country": {
                                                        "$ref": "#/components/schemas/CountryId"
                                                    },
                                                    "phone": {
                                                        "$ref": "#/components/schemas/ActivationPhone"
                                                    },
                                                    "moreCodes": {
                                                        "description": "Alınan aktivasyon kodları",
                                                        "type": "string",
                                                        "example": "637881 is your verification code"
                                                    },
                                                    "cost": {
                                                        "$ref": "#/components/schemas/Price"
                                                    },
                                                    "status": {
                                                        "$ref": "#/components/schemas/ActivationStatusTypes"
                                                    },
                                                    "phoneCode": {
                                                        "type": "string",
                                                        "example": "+55"
                                                    },
                                                    "currency": {
                                                        "$ref": "#/components/schemas/Currency"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "totals": {
                                            "properties": {
                                                "sum": {
                                                    "description": "Tutar",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.6
                                                },
                                                "successCount": {
                                                    "description": "Başarılı aktivasyon sayısı",
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMetaData"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "x-sort-columns": [
                    "id",
                    "cost",
                    "createDate"
                ]
            }
        },
        "/activations/{activationId}/otp/last": {
            "get": {
                "tags": [
                    "Activation OTP"
                ],
                "summary": "Aktif aktivasyonun son OTP'sini al",
                "operationId": "getActivationOtpLast",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationOtpSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/otp": {
            "get": {
                "tags": [
                    "Activation OTP"
                ],
                "summary": "Aktif aktivasyonun OTP listesini al",
                "operationId": "getActivationOtpList",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationOtpListSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Aktif aktivasyonların listesini al",
                "description": "Aktif aktivasyonların listesini döndürür. Her aktivasyonda tam OTP listesi bulunur.",
                "operationId": "getActiveActivations",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/size"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/verificationTypeQuery"
                    },
                    {
                        "$ref": "#/components/parameters/from"
                    },
                    {
                        "$ref": "#/components/parameters/to"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "x-sort-columns": [
                    "id"
                ]
            },
            "post": {
                "tags": [
                    "Activations"
                ],
                "summary": "Aktivasyon satın al",
                "operationId": "buyActivationBatch",
                "requestBody": {
                    "$ref": "#/components/requestBodies/BuyActivationRequestBody"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}": {
            "delete": {
                "tags": [
                    "Activations"
                ],
                "summary": "Aktivasyonu iptal et",
                "description": "Aktivasyon iptali ve iade. İptal yalnızca aktivasyon hiç OTP almamışsa veya 24 saat ve üzeri süreli aktivasyonda 20 dakikadan az süre geçmişse mümkündür. Aksi halde `POST /activations/{activationId}/finish` çağırın.",
                "operationId": "cancelActivation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/NoContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/finish": {
            "post": {
                "tags": [
                    "Activations"
                ],
                "summary": "Etkinleştirmeyi sonlandır",
                "description": "Aktivasyon başarıyla tamamlandı. Para iadesi yapılmaz.",
                "operationId": "finishActivation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/NoContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/replace": {
            "post": {
                "tags": [
                    "Activations"
                ],
                "summary": "Numara değişikliği iste",
                "operationId": "replaceActivation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/reactivate": {
            "post": {
                "tags": [
                    "Activations"
                ],
                "summary": "Numarayla çalışmaya devam et",
                "description": "Numarayla çalışmaya devam etmek yalnızca aktivasyon başarıyla tamamlandıysa mümkündür.",
                "operationId": "reactivateActivation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ReactivateActivationRequestBody"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/reactivate/options": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Numarayla çalışmaya devam etmek için mevcut seçenekleri al",
                "operationId": "reactivateOptions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationExtendOptionsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/prolong": {
            "post": {
                "tags": [
                    "Activations"
                ],
                "summary": "Numara kiralamasını uzat",
                "operationId": "prolongActivation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ProlongActivationRequestBody"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "425": {
                        "$ref": "#/components/responses/TooEarlyRequestResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/prolong/options": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Numara için mevcut uzatma seçeneklerini al",
                "operationId": "prolongOptions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationExtendOptionsSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "425": {
                        "$ref": "#/components/responses/TooEarlyRequestResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/{activationId}/prolong/history": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Numara uzatma geçmişini al",
                "operationId": "prolongActivationHistory",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/activationPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ProlongHistorySuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/classifiers/activations/custom-durations": {
            "get": {
                "tags": [
                    "Classifiers"
                ],
                "summary": "Standart dışı aktivasyon süresine sahip öğelerin listesi",
                "operationId": "customDurations",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "description": "service",
                                            "type": "object",
                                            "additionalProperties": {
                                                "description": "country",
                                                "type": "object",
                                                "additionalProperties": {
                                                    "description": "minutes",
                                                    "type": "integer",
                                                    "example": 60
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                }
            }
        },
        "/activations/stats": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Mevcut kullanıcı istatistikleri",
                "description": "Geçerli yetkilendirilmiş kullanıcı için aktivasyon istatistiklerini döndürür",
                "operationId": "getActivationStats",
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "description": "İstatistiklerin istenildiği tarih",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "country": {
                                                    "properties": {
                                                        "service": {
                                                            "properties": {
                                                                "count": {
                                                                    "type": "integer",
                                                                    "example": 10
                                                                },
                                                                "success": {
                                                                    "type": "integer",
                                                                    "example": 5
                                                                },
                                                                "percent": {
                                                                    "$ref": "#/components/schemas/Percent"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/activations/offers/{verificationType}": {
            "get": {
                "tags": [
                    "Activations"
                ],
                "summary": "Aktivasyon tekliflerini al",
                "description": "Aktivasyon tekliflerini servislere ve ülkelere göre gruplandırılmış olarak ve bunların görüntülenmesi için meta verileri döndürür",
                "operationId": "getActivationOffers",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/verificationTypePath"
                    },
                    {
                        "$ref": "#/components/parameters/servicesPath"
                    },
                    {
                        "$ref": "#/components/parameters/countriesPath"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ActivationsOffersSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/OfferNotFoundResponse"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequestsResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/emails": {
            "get": {
                "tags": [
                    "Emails"
                ],
                "summary": "Aktif satın alma listesini al",
                "operationId": "7f17119e77aad0c154d2f5e600ef092a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/size"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/emailStatusesQuery"
                    },
                    {
                        "$ref": "#/components/parameters/from"
                    },
                    {
                        "$ref": "#/components/parameters/to"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EmailActivation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "x-sort-columns": [
                    "id",
                    "status",
                    "cost",
                    "date"
                ]
            },
            "post": {
                "tags": [
                    "Emails"
                ],
                "summary": "Posta yoluyla aktivasyon satın al",
                "operationId": "22164e5067a27560b8fbf28b2ac1f019",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "site",
                                    "domain"
                                ],
                                "properties": {
                                    "site": {
                                        "$ref": "#/components/schemas/EmailSite"
                                    },
                                    "domain": {
                                        "$ref": "#/components/schemas/EmailDomain"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/EmailActivationSuccessResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/emails/batch": {
            "post": {
                "tags": [
                    "Emails"
                ],
                "summary": "Posta yoluyla paketler halinde aktivasyon satın al",
                "operationId": "7892a59d83e6e38d154854fe1f1b065f",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "site",
                                    "domain",
                                    "count"
                                ],
                                "properties": {
                                    "site": {
                                        "$ref": "#/components/schemas/EmailSite"
                                    },
                                    "domain": {
                                        "$ref": "#/components/schemas/EmailDomain"
                                    },
                                    "count": {
                                        "description": "Aktivasyon için posta sayısı (1'den 10'a kadar)",
                                        "type": "integer",
                                        "example": 5,
                                        "maximum": 10,
                                        "minimum": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/EmailActivationBatchSuccessResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/emails/{emailId}": {
            "get": {
                "tags": [
                    "Emails"
                ],
                "summary": "Posta yoluyla aktivasyon durumunu kontrol et",
                "operationId": "c57ebd15edbfa8625b8a60984b76e3c6",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/emailId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/EmailActivationSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Emails"
                ],
                "summary": "Posta yoluyla aktivasyon satın alımını iptal et",
                "operationId": "20dae8daa691db1282f0d1d268dbac44",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/emailId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/EarlyCancelDeniedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/emails/{emailId}/reorder": {
            "post": {
                "tags": [
                    "Emails"
                ],
                "summary": "Posta yoluyla aktivasyonu yeniden sipariş et",
                "operationId": "bb0d53e0557982f130c1540ed663e831",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/emailId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/EmailActivationSuccessResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/emails/domains": {
            "get": {
                "tags": [
                    "Emails"
                ],
                "summary": "Mevcut alan adlarının listesini al",
                "operationId": "59f271906bdbc81b6b2cdd4213b01775",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Aktivasyonun alındığı site",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "telegram.com"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "description": "Alan adı adı",
                                                        "type": "string"
                                                    },
                                                    "cost": {
                                                        "$ref": "#/components/schemas/Price"
                                                    },
                                                    "count": {
                                                        "description": "Mevcut e-posta sayısı",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "?action=getBalance": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Hesap bakiyesini sorgula",
                "description": "Mevcut bakiyeyi `ACCESS_BALANCE:<tutar>` formatında döndürür",
                "operationId": "getBalance",
                "responses": {
                    "200": {
                        "description": "Bakiye sorgulama sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "successfulBalanceExample": {
                                        "$ref": "#/components/examples/successfulBalanceExample"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/methodNotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getNumber": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Numarayı sorgula",
                "description": "Belirtilen servis ve ülke için telefon numarası talep ediyor.  `ACCESS_NUMBER:<aktivasyon_id>:<numara>` şeklinde bir dize döndürüyor.",
                "operationId": "getNumber",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredService"
                    },
                    {
                        "$ref": "#/components/parameters/qpSARequiredCountry"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalOperator"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalMaxPrice"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalFixedPrice"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalRef"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalPhoneException"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Numara sorgulama sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "successfulNumberExample": {
                                        "$ref": "#/components/examples/successfulNumberExample"
                                    },
                                    "numbersNotFoundExample": {
                                        "$ref": "#/components/examples/numbersNotFoundExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/getNumberBadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/methodNotFoundResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbiddenResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getNumberV2": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "V2 numarasını sorgula",
                "description": "getNumber'a benzer, ancak aktivasyon hakkında daha fazla bilgi döndürür (JSON nesnesi)",
                "operationId": "getNumberV2",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredService"
                    },
                    {
                        "$ref": "#/components/parameters/qpSARequiredCountry"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalOperator"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalMaxPrice"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalFixedPrice"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalRef"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalPhoneException"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Numara sorgulama sonucu (V2)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/successfulNumberv2Response"
                                },
                                "examples": {
                                    "successfulNumberv2Example": {
                                        "$ref": "#/components/examples/successfulNumberv2Example"
                                    },
                                    "numbersNotFoundExample": {
                                        "$ref": "#/components/examples/numbersNotFoundExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/getNumberBadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/methodNotFoundResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbiddenResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=setStatus": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Aktivasyon durumunu değiştir",
                "description": "Aktivasyon yaşam döngüsünü yönet. \r\nOlası durumlar:\r\n- 3  — SMS’in tekrar gönderilmesini talep etmek\r\n- 6  — aktivasyonu tamamlamak (kod alındı ve onaylandı)\r\n- 8  — aktivasyonu iptal etmek (parayı iade etmek)",
                "operationId": "setStatus",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    },
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationStatus"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Durum değişikliği sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "successfulRetryGetExample": {
                                        "$ref": "#/components/examples/successfulRetryGetExample"
                                    },
                                    "successfulAccessActivationExample": {
                                        "$ref": "#/components/examples/successfulAccessActivationExample"
                                    },
                                    "successfulAccessCancelExample": {
                                        "$ref": "#/components/examples/successfulAccessCancelExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/badRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbiddenResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/activationCancelConflictResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getStatus": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Aktivasyon durumunu al",
                "description": "Mevcut aktivasyon durumunu metin biçiminde döndürür (STATUS_WAIT_CODE, STATUS_OK vb.) + varsa kod",
                "operationId": "getStatus",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mevcut aktivasyon durumu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "successfulWaitCodeExample": {
                                        "$ref": "#/components/examples/successfulWaitCodeExample"
                                    },
                                    "successfulWaitRetryExample": {
                                        "$ref": "#/components/examples/successfulWaitRetryExample"
                                    },
                                    "successfulWaitResendExample": {
                                        "$ref": "#/components/examples/successfulWaitResendExample"
                                    },
                                    "successfulCancelExample": {
                                        "$ref": "#/components/examples/successfulCancelExample"
                                    },
                                    "successfulOKExample": {
                                        "$ref": "#/components/examples/successfulOKExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/badRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbiddenResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getStatusV2": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Aktivasyon durumunu al V2",
                "description": "Aktivasyon durumunu yapılandırılmış biçimde (JSON) döndürür",
                "operationId": "getStatusV2",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mevcut aktivasyon durumu (V2)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivationStatusV2"
                                },
                                "examples": {
                                    "correctActivationStatusExample": {
                                        "$ref": "#/components/examples/successfulActivationV2Example"
                                    },
                                    "successfulCancelExample": {
                                        "summary": "Etkinleştirme iptal edildi",
                                        "value": "STATUS_CANCEL"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/badRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbiddenResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getActiveActivations": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Aktif aktivasyonların listesini al",
                "description": "Aktif aktivasyonların listesini döndürür",
                "operationId": "saGetActiveActivations",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Ofset (varsayılan 0)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Kayıt limiti (maks. 100)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aktif aktivasyonların alınması sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActiveActivations"
                                },
                                "examples": {
                                    "activationsSuccessfulExample": {
                                        "$ref": "#/components/examples/activationsSuccessfulExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/badRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbiddenResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/methodNotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getHistory": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Aktivasyon geçmişini al",
                "description": "Aktivasyonların geçmişini döndürür",
                "operationId": "getHistory",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Dönemin başlangıcı (Unix Zaman Damgası)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Dönemin sonu (Unix Zaman Damgası)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Ofset (varsayılan 0)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Kayıt limiti (maks. 100)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aktivasyon geçmişinin alınması sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivationsHistory"
                                },
                                "examples": {
                                    "successfulActivationsHistoryExample": {
                                        "$ref": "#/components/examples/successfulActivationsHistoryExample"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/methodNotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=reactivate": {
            "post": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Numaranın yeniden etkinleştirilmesini talep et",
                "description": "Başarılı bir şekilde kullanılan telefon numarası talep ediliyor",
                "operationId": "reactivate",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    },
                    {
                        "$ref": "#/components/parameters/qpSADuration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Numaranın yeniden etkinleştirilmesi sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/successfulNumberv2Response"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/reactivationForbiddenResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=reactivateOptions": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Numaranın yeniden etkinleştirilmesinin maliyetini talep edin",
                "description": "Numaranın yeniden etkinleştirilmesinin maliyetini talep eder",
                "operationId": "saReactivateOptions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SaActivationExtendOptionsSuccessResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/reactivationForbiddenResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=prolong": {
            "post": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Numarayı uzat",
                "description": "Telefon numarasıyla çalışmayı uzatır.  Sadece 'Kira' tipi aktivasyonlar için geçerlidir.",
                "operationId": "prolong",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    },
                    {
                        "$ref": "#/components/parameters/qpSARequiredDuration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Numara yenileme sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/successfulNumberv2Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/prolongationBadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/paymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=prolongOptions": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Numara yenileme ücretini al",
                "description": "Numara yenileme ücretini soruyor",
                "operationId": "saProlongOptions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SaActivationExtendOptionsSuccessResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/prolongationInfoBadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=prolongHistory": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Oda yenileme geçmişini al",
                "description": "Numara yenileme geçmişini soruyor",
                "operationId": "prolongHistory",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredActivationID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Oda yenileme geçmişi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/prolongationHistoryListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/prolongationInfoBadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/activationNotFoundResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getCountries": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Ülke listesini iste",
                "description": "Ülke listesini döndürür",
                "operationId": "getCountries",
                "responses": {
                    "200": {
                        "description": "Ülke listesi sorgulama sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Country"
                                },
                                "examples": {
                                    "successGetCountriesExample": {
                                        "$ref": "#/components/examples/successGetCountriesExample"
                                    },
                                    "missingKeyExample": {
                                        "$ref": "#/components/examples/missingKeyExample"
                                    },
                                    "incorrectKeyExample": {
                                        "$ref": "#/components/examples/incorrectKeyExample"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getServicesList": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Hizmet listesini iste",
                "description": "Hizmet listesini döndürür",
                "operationId": "getServicesList",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSAOptionalCountry"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalLang"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hizmet listesi sorgulama sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Service"
                                },
                                "examples": {
                                    "successGetServicesListExample": {
                                        "$ref": "#/components/examples/successGetServicesListExample"
                                    },
                                    "missingKeyExample": {
                                        "$ref": "#/components/examples/missingKeyExample"
                                    },
                                    "incorrectKeyExample": {
                                        "$ref": "#/components/examples/incorrectKeyExample"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getOperators": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Mevcut operatörleri sorgula",
                "description": "Operatörlerin listesini döndürür",
                "operationId": "getOperators",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSAOptionalCountry"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operatör listesi sorgulama sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Operators"
                                },
                                "examples": {
                                    "successfulGetOperatorsExample": {
                                        "$ref": "#/components/examples/successfulGetOperatorsExample"
                                    },
                                    "operatorsNotFoundExample": {
                                        "$ref": "#/components/examples/operatorsNotFoundExample"
                                    },
                                    "sqlServerErrorExample": {
                                        "$ref": "#/components/examples/sqlServerErrorExample"
                                    },
                                    "missingKeyExample": {
                                        "$ref": "#/components/examples/missingKeyExample"
                                    },
                                    "incorrectKeyExample": {
                                        "$ref": "#/components/examples/incorrectKeyExample"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getPrices": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Güncel fiyatları al",
                "description": "Yöntem kullanımdan kaldırıldı. GET activations/offers/{verificationType} kullanın",
                "operationId": "getPrices",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSAOptionalService"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalCountry"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Güncel fiyatların alınması sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PricesByCountry"
                                },
                                "examples": {
                                    "successGetPrices": {
                                        "$ref": "#/components/examples/successGetPrices"
                                    },
                                    "incorrectServiceExample": {
                                        "$ref": "#/components/examples/incorrectServiceExample"
                                    },
                                    "incorrectCountryExample": {
                                        "$ref": "#/components/examples/incorrectCountryExample"
                                    },
                                    "badActionExample": {
                                        "$ref": "#/components/examples/badActionExample"
                                    },
                                    "missingKeyExample": {
                                        "$ref": "#/components/examples/missingKeyExample"
                                    },
                                    "incorrectKeyExample": {
                                        "$ref": "#/components/examples/incorrectKeyExample"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getTopCountriesByService": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Hizmete göre en iyi ülkeleri al",
                "description": "Yöntem kullanımdan kaldırıldı. GET activations/offers/{verificationType} kullanın",
                "operationId": "getTopCountriesByService",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSAOptionalService"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalFreePrice"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hizmete göre en iyi ülkeleri alma sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopCountriesByService"
                                },
                                "examples": {
                                    "topCountriesAllServicesExample": {
                                        "$ref": "#/components/examples/topCountriesAllServicesExample"
                                    },
                                    "topCountriesOneServiceExample": {
                                        "$ref": "#/components/examples/topCountriesOneServiceExample"
                                    },
                                    "missingKeyExample": {
                                        "$ref": "#/components/examples/missingKeyExample"
                                    },
                                    "incorrectKeyExample": {
                                        "$ref": "#/components/examples/incorrectKeyExample"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getTopCountriesByServiceRank": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Kullanıcının rütbesine göre hizmete göre en iyi ülkeleri alın",
                "description": "Yöntem kullanımdan kaldırıldı. GET activations/offers/{verificationType} kullanın",
                "operationId": "getTopCountriesByServiceRank",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSAOptionalService"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalFreePrice"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hizmete göre en iyi ülkeleri alma sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopCountriesByService"
                                },
                                "examples": {
                                    "topCountriesAllServicesExample": {
                                        "$ref": "#/components/examples/topCountriesAllServicesExample"
                                    },
                                    "topCountriesOneServiceExample": {
                                        "$ref": "#/components/examples/topCountriesOneServiceExample"
                                    },
                                    "missingKeyExample": {
                                        "$ref": "#/components/examples/missingKeyExample"
                                    },
                                    "incorrectKeyExample": {
                                        "$ref": "#/components/examples/incorrectKeyExample"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=serviceCountRent": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Hizmete göre güncel fiyatları ve kiralama miktarını al",
                "description": "Seçilen kiralama hizmetine göre fiyatları ve mevcut oda sayısını döndürür",
                "operationId": "serviceCountRent",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredService"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalCountry"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalOperator"
                    },
                    {
                        "$ref": "#/components/parameters/qpSAOptionalCurrency"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Güncel fiyatların ve kiralama sayısının alınması sonucu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RentCountByService"
                                },
                                "examples": {
                                    "Veriler başarıyla alındı": {
                                        "$ref": "#/components/examples/successServiceCountRent"
                                    },
                                    "Veri yok": {
                                        "$ref": "#/components/examples/emptyServiceCountRent"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/rentParamsBadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/SAServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "apiKeyQuery": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://hero-sms.com/stubs/handler_api.php",
                        "description": "SMS-Activate API uyumlu sunucu"
                    }
                ]
            }
        },
        "?action=getRentServicesAndCountries": {
            "get": {
                "tags": [
                    "SMS-Activate"
                ],
                "summary": "Ülkeye göre güncel fiyatları ve kiralama miktarını al",
                "description": "Hizmetlere göre fiyatları ve mevcut oda sayısını, ayrıca operatörlerin listesini döndürür",
                "operationId": "getRentServicesAndCountries",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/qpSARequiredCountry"
                    },
                    {
                        "$ref": "#/components/parameters/qpSARequiredDuration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Başarılı sonuç",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getRentServicesAndCountries"
                                },
                                "examples": {
                                    "successGetRentServicesAndCountriesExample": {
                                        "$ref": "#/components/examples/successGetRentServicesAndCountriesExample"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorizedResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/rentParamsBadRequestResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/unprocessableEntityResponse"
                    },
[...]
